# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.py[cod]
__pycache__
venv_*
*_venv
venv

# Mac OSX
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.nib

# PyCharm
*.idea

# FreeOrion specific
*.zip
libpython.py
/util/Version.cpp
/cmake/FreeOrionVersion.cmake
/packaging/windows_installer.nsi
/packaging/Info.plist
/doc/apidoc-commit-message

# FreeOrion MSVC project
*.pdb
*.log
*.tlog
*.cache
*.lastbuildstate
*.unsuccessfulbuild
*.manifest
*.user
*.suo
*.sdf
*.exp
*.opensdf
*.res
/msvc*/*/release/
/msvc*/*/debug/
x64

# Incremental build files
*.ipdb
*.ilk
*.iobj

# KDevelop4
*.kdev4
*.db

# git mergetool
*.orig

# vim
.*.sw?


# Visual Studio
.vs/
.vscode/

# CMake
build/

# linters temp files
.mypy_cache
.pytest_cache
.coverage
htmlcov

# Godot
*.import

