default_stages:
  - pre-commit
  - manual
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.14.10'
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
  - repo: local
    hooks:
      - id: string-tables-syntax-check
        name: String tables syntax check
        description: This hook will do lighwight stringtables checks
        entry: python check/st-tool.py check --reference default/stringtables/en.txt
        language: python
        files: 'default/stringtables/[a-z]{2}\.txt'
        types: [ text ]
      - id: ty
        name: ty check
        entry: ty check .
        language: system
        pass_filenames: false
        always_run: true
  - repo: https://github.com/facebook/pyrefly-pre-commit
    rev: 0.46.1  # Note: this is the version of the pre-commit hook, NOT the pyrefly version used for type checking
    hooks:
      - id: pyrefly-check
        name: Pyrefly (type checking)
        pass_filenames: false  # Recommended to do full repo checks. However, you can change this to `true` to only check changed files
        language: system  # Use system-installed pyrefly
