<?xml version="1.0"?>
<GG::XMLDoc>
  <UI>
    <art-dir>small</art-dir>
    <ctrl-color>
      <alpha>255</alpha>
      <blue>30</blue>
      <green>30</green>
      <red>30</red>
    </ctrl-color>
    <dir>default/</dir>
    <fleet-autoselect>1</fleet-autoselect>
    <font>Vera.ttf</font>
    <font-size>12</font-size>
    <multiple-fleet-windows>0</multiple-fleet-windows>
    <stringtable-filename>eng_stringtable.txt</stringtable-filename>
    <text-color>
      <alpha>255</alpha>
      <blue>255</blue>
      <green>255</green>
      <red>255</red>
    </text-color>
    <title-font>Vera.ttf</title-font>
    <title-font-size>12</title-font-size>
    <tooltip-delay>1000</tooltip-delay>
    <window-quickclose>1</fleet-window-quickclose>
    <wnd-border-color>
      <alpha>255</alpha>
      <blue>0</blue>
      <green>0</green>
      <red>0</red>
    </wnd-border-color>
    <wnd-color>
      <alpha>210</alpha>
      <blue>0</blue>
      <green>0</green>
      <red>0</red>
    </wnd-color>
    <wnd-inner-border-color>
      <alpha>255</alpha>
      <blue>255</blue>
      <green>255</green>
      <red>255</red>
    </wnd-inner-border-color>
    <wnd-outer-border-color>
      <alpha>255</alpha>
      <blue>64</blue>
      <green>64</green>
      <red>64</red>
    </wnd-outer-border-color>
  </UI>
  <app-height>768</app-height>
  <app-width>1024</app-width>
  <color-depth>32</color-depth>
  <fullscreen>0</fullscreen>
  <save-directory>save</save-directory>
</GG::XMLDoc>