<?xml version="1.0"?>
<GG::XMLDoc>
  <HumanClientApp>
    <width value="1024"/>
    <height value="768"/>
    <bpp value="32"/>
    <calc_FPS value="0"/>
    <app_name>"freeorion"</app_name>
  </HumanClientApp>
  <ClientUI>
    <DIR value="default/"/>
    <ART_DIR value="small"/>
    <FONT value="arial.ttf"/>
    <PTS value="12"/>
    <TITLE_FONT value="arial.ttf"/>
    <TITLE_PTS value="12"/>
    <WND_COLOR>
      <GG::Clr>
        <red value="0"/>
        <green value="0"/>
        <blue value="0"/>
        <alpha value="210"/>
      </GG::Clr>
    </WND_COLOR>
    <TEXT_COLOR>
      <GG::Clr>
        <red value="255"/>
        <green value="255"/>
        <blue value="255"/>
        <alpha value="255"/>
      </GG::Clr>
    </TEXT_COLOR>
    <CTRL_COLOR>
      <GG::Clr>
        <red value="30"/>
        <green value="30"/>
        <blue value="30"/>
        <alpha value="255"/>
      </GG::Clr>
    </CTRL_COLOR>
    <WND_OUTER_BORDER_COLOR>
      <GG::Clr>
        <red value="64"/>
        <green value="64"/>
        <blue value="64"/>
        <alpha value="255"/>
      </GG::Clr>
    </WND_OUTER_BORDER_COLOR>
    <WND_BORDER_COLOR>
      <GG::Clr>
        <red value="0"/>
        <green value="0"/>
        <blue value="0"/>
        <alpha value="255"/>
      </GG::Clr>
    </WND_BORDER_COLOR>
    <WND_INNER_BORDER_COLOR>
      <GG::Clr>
        <red value="255"/>
        <green value="255"/>
        <blue value="255"/>
        <alpha value="255"/>
      </GG::Clr>
    </WND_INNER_BORDER_COLOR>
    <TOOLTIP_DELAY value="1000"/>
    <STRINGTABLE_FILENAME value="eng_stringtable.txt"/>
  </ClientUI>
</GG::XMLDoc>
