<?xml version="1.0"?>
<GG::XMLDoc>
  <app-width value="1024"/>
  <app-height value="768"/>
  <color-depth value="32"/>  
  <UI>
    <dir value="default/"/>
    <art-dir value="small"/>
    <font value="Vera.ttf"/>
    <font-size value="12"/>
    <title-font value="Vera.ttf"/>
    <title-font-size value="12"/>
    <wnd-color>
      <red value="0"/>
      <green value="0"/>
      <blue value="0"/>
      <alpha value="210"/>
    </wnd-color>
    <text-color>
      <red value="255"/>
      <green value="255"/>
      <blue value="255"/>
      <alpha value="255"/>
    </text-color>
    <ctrl-color>
      <red value="30"/>
      <green value="30"/>
      <blue value="30"/>
      <alpha value="255"/>
    </ctrl-color>
    <wnd-outer-border-color>
      <red value="64"/>
      <green value="64"/>
      <blue value="64"/>
      <alpha value="255"/>
    </wnd-outer-border-color>
    <wnd-border-color>
      <red value="0"/>
      <green value="0"/>
      <blue value="0"/>
      <alpha value="255"/>
    </wnd-border-color>
    <wnd-inner-border-color>
      <red value="255"/>
      <green value="255"/>
      <blue value="255"/>
      <alpha value="255"/>
    </wnd-inner-border-color>
    <tooltip-delay value="1000"/>
    <stringtable-filename value="eng_stringtable.txt"/>
  </UI>
</GG::XMLDoc>
