<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMainNibFile</key>
	<string>main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>FreeOrion</string>
	<key>CFBundleIdentifier</key>
	<string>org.FreeOrion</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>fori</string>
	<key>CFBundleVersion</key>
	<string>0.3.14</string>
</dict>
</plist>
