name: AI linters and tests
on:
  workflow_call:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install development dependencies
        run: pip install -r default/python/requirements-dev.txt
      - name: Lint all python code with Ruff
        run: ruff .
      - name: Lint with black
        run: |
          black . --check --no-color --diff -q
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install development dependencies
        run: pip install -r default/python/requirements-dev.txt
      - name: Test with pytest
        # Run from root to preserve full path in output
        run: pytest -v default/python/tests check/focs_dump_parser
      - name: Test utility scripts with pytest
        # Run from root to preserve full path in output
        run: pytest -v check --doctest-modules --doctest-continue-on-failure
